.footer-form-container {
    margin-left: 93px;
}
.footer-form {
    display: flex;
}
.footer-form-field {
    width: 358px;
}
.footer-form-input {
    width: 358px;
    height: 50px;

    background-color: $section-bg-dark-color;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    padding: 15px;
    color: $nav-bg_text-color;
}
.footer-form-label {
    display: inline-flex;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $nav-bg_text-color;

    margin-bottom: 20px;
}
.footer-form-icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
}
.footer-button {
    display: flex;
    position: relative;
    width: 200px;
    height: 50px;
    align-self: flex-end;

    margin-left: 12px;

    font-weight: bold;
    font-size: 16px;
    line-height: 1.875;

    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}
