.hero-section {
    max-width: 1600px;
    background-color: $section-bg-dark-color;
    background-image: linear-gradient(
            to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
        ),
        url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.hero-container {
    margin: auto;
    padding: auto;
    width: 1200px;
    padding: 200px;
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.37;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $nav-bg_text-color;
    max-width: 650px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 30px;
}
