.modal {
    position: absolute;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 528px;
    height: 581px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    background-color: $nav-bg_text-color;
}
.modal-content {
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.modal-button {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    top: 8px;
    right: 8px;

    cursor: pointer;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: fill $animation;
    &:focus,
    &:hover {
        fill: $minor-text-color;
    }
}
.modal-button-close {
    height: 11px;
    width: 11px;
}
.modal-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
}
