$main-text-color: #212121;
$minor-text-color: #2196f3;
$second-text-color: #757575;
$nav-bg_text-color: #ffffff;
$section-bg-middle-color: #f5f4fa;
$section-bg-dark-color: #2f303a;
$minor-bg-color: #f5f4fa;
$icon-color: #afb1b8;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
